[Unit]
Description=MetricsHour Celery Worker
After=network.target dragonfly.service

[Service]
User=root
WorkingDirectory=/root/metricshour/workers
Environment="PATH=/root/metricshour/workers/venv/bin"
EnvironmentFile=/root/metricshour/backend/.env
ExecStart=/root/metricshour/workers/venv/bin/celery -A celery_app worker --loglevel=info --concurrency=8
Restart=always
MemoryMax=3G
RestartSec=10

[Install]
WantedBy=multi-user.target
