[Unit]
Description=MetricsHour Celery Beat
After=network.target dragonfly.service

[Service]
User=root
WorkingDirectory=/root/metricshour/workers
Environment="PATH=/root/metricshour/workers/venv/bin"
EnvironmentFile=/root/metricshour/backend/.env
ExecStart=/root/metricshour/workers/venv/bin/celery -A celery_app beat --loglevel=info
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
